<<<<<<< HEAD
* {
  font-family: 'Fira sans', Arial, Helvetica, sans-serif;
}

body {
  background: #f7f7f7;
=======
* {
  font-family: 'Fira sans', Arial, Helvetica, sans-serif;
}

body {
  background: #f7f7f7;
>>>>>>> 3ad4d8f2927c122bc9bc68b13c48c6b2b2171afa
}